**/.classpath
**/.dockerignore
**/.env*
!**/.env*.pub
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
!app/client/website/.next/standalone/**
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
.env*
.flaskenv*
!.env.project
!.env.vault
# Keep contract.dll
!**/Contract.dll
**/IngredientPredictService/model
